{% extends 'base.html' %}

{% block body %}
{% if template_data.status == 'success' %}
<div class="alert alert-success" role="alert" style="margin-bottom: 20px;">
    {{ template_data.message }}
</div>
{% elif template_data.status == 'warning' %}
<div class="alert alert-warning" role="alert" style="margin-bottom: 20px;">
    {{ template_data.message }}
</div>
{% elif template_data.status == 'error' %}
<div class="alert alert-danger" role="alert" style="margin-bottom: 20px;">
    {{ template_data.message }}
</div>
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-4">
            <h3>Input</h3>
            {% block input_section %}
            {% endblock input_section %}
        </div>
        <div class="col-8">            
            <div class="row">
                <h3>Graph</h3>
                <div id="function-plot" style="width:100%;height:400px;"></div>
                <div class="d-flex justify-content-center">
                    <button id="download-svg" class="btn btn-primary" style="margin-top: 10px; margin-bottom: 25px;">
                        Download as SVG
                    </button>
                </div>
            </div>                    

            <div class="row">
                <h3>Table</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Iteration</th>
                            <th>xi</th>
                            <th>f(xi)</th>
                            <th>Absolute Error</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in template_data.response.table %}
                        <tr>
                            {% for cell in row %}
                            <td>{{ cell }}</td>
                            {% endfor %}
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4">No data available</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const xValues = {{ template_data.plot_data.x }};
        const yValues = {{ template_data.plot_data.y }};
        const aproximateX = {{ template_data.plot_data.aproximate_x }};
        const aproximateY = {{ template_data.plot_data.aproximate_y }};
        const functionStr = "{{ template_data.plot_data.function }}";

        const functionTrace = {
            x: xValues,
            y: yValues,
            mode: "lines",
            name: `f(x) = ${functionStr}`,
            line: { color: "blue" }
        };

        const aproximateSolution = {
            x: [aproximateX],
            y: [aproximateY],
            mode: "markers",
            name: "Aproximate solution",
            marker: { color: "red", size: 10 }
        };

        const layout = {
            title: "Plot and Solution",
            xaxis: { title: "x" },
            yaxis: { title: "f(x)" }
        };

        Plotly.newPlot("function-plot", [functionTrace, aproximateSolution], layout);

        document.getElementById('download-svg').addEventListener('click', function () {
            Plotly.downloadImage('function-plot', {
                format: 'svg',
                filename: 'function_plot',
                height: 600,
                width: 800,
                scale: 1
            });
        });
    });
</script>
{% endblock body %}
