{% extends 'non_linear_equations/base_methods.html' %}

{% block input_section %}
<form action="{% url 'methods.false_position' %}" method="POST">
    {% csrf_token %}
    <div class="row g-3 align-items-center">
        <div class="col mb-3">
            <label for="a" class="form-label">Lower interval value (a)</label>
            <input type="text" class="form-control" id="a" name="a" required>
        </div>

        <div class="col mb-3">
            <label for="b" class="form-label">Upper interval value (b)</label>
            <input type="text" class="form-control" id="b" name="b" required>
        </div>
    </div>

    <div class="row g-3 align-items-center">
        <div class="mb-3">
            <label for="function" class="form-label">Function f(x)</label>
            <input type="text" class="form-control" id="function" name="function" placeholder="Use x as the variable" required>
        </div>
    </div>

    <div class="row g-3 align-items-center">
        <div class="mb-3">
            <label for="tolerance" class="form-label">Tolerance</label>
            <input type="text" class="form-control" id="tolerance" name="tolerance" placeholder="Example: 0.05" required>
        </div>
    </div>

    <div class="row g-3 align-items-center">
        <div class="mb-3">
            <label for="iterations_limit" class="form-label">Iterations limit</label>
            <input type="text" class="form-control" id="iterations_limit" name="iterations_limit" placeholder="Example: 100" required>
        </div>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary">Run false position method</button>
    </div>
</form>
{% endblock input_section %}