{% extends 'non_linear_equations/base_methods.html' %}

{% block input_section %}
<form action="{% url 'methods.fixed_point' %}" method="POST">
    {% csrf_token %}
    <div class="row g-3 align-items-center">
        <div class="col mb-3">
            <label for="initial_guess" class="form-label">Initial guess (x₀)</label>
            <input type="text" class="form-control" id="initial_guess" name="initial_guess" required>
        </div>
    </div>

    <div class="row g-3 align-items-center">
        <div class="mb-3">
            <label for="g_function" class="form-label">g(x) Function</label>
            <input type="text" class="form-control" id="g_function" name="g_function" placeholder="Use x as the variable" required>
        </div>
    </div>

    <div class="row g-3 align-items-center">
        <div class="mb-3">
            <label for="correct_decimals" class="form-label">Correct decimals</label>
            <input type="text" class="form-control" id="correct_decimals" name="correct_decimals" placeholder="Example: 0.05" required>
        </div>
    </div>

    <div class="row g-3 align-items-center">
        <div class="mb-3">
            <label for="iterations_limit" class="form-label">Iterations limit</label>
            <input type="text" class="form-control" id="iterations_limit" name="iterations_limit" placeholder="Example: 100" required>
        </div>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary">Run fixed point method</button>
    </div>
</form>
{% endblock input_section %}